::selection {
    background-color: #00ff9c;
    color: #000000;
}
* {
    font-size: 15px;
}
body {
    background: #000000;
    color: #00ff9c;
    font-family: monospace;
}

#terminal {
    padding: 20px;
}

input {
    background: #000000;
    border: none;
    color: #00ff9c;
    outline: none;
    font-family: monospace;
    width: 50%
}