body {
    cursor: url("../img/icons8-select-cursor-24.png") 0 0, auto;
    margin: 0;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
/* .bg-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../img/background.jpg");
    background-position: center;
    filter: blur(6px);
    opacity: 80%;
    max-height: 700px;
    z-index: -1;
}
.bg-2::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #020024;
    background: 
            radial-gradient(circle, rgba(2, 0, 36, 1) 3%, 
            rgba(9, 9, 121, 1) 41%, 
            rgba(0, 212, 255, 1) 100%);
    background-position: center;
    opacity: 80%;
    margin-top: 700px;
    max-height: 700px;
    z-index: -1;
} */
main {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
main h1 {
    text-align: center;
    font-size: 2.4em;
}
main p {
    font-size: 1.4em;
    text-indent: 28px;
    text-align: justify;
    letter-spacing: 0.5px;;
}
.about-me {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
   /* From https://css.glass */
    background: rgba(75, 110, 246, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(75, 110, 246, 1);
    padding: 0 30px;
}

.skills {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
   /* From https://css.glass */
    background: rgba(75, 110, 246, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(75, 110, 246, 1);
    padding: 0 30px;
    margin-top: 150px;
    /* margin-right: 400px; */
}
