body {
    cursor: url("../img/icons8-select-cursor-24.png") 0 0, auto;
    margin: 0;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
}
main {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
main h1 {
    text-align: center;
    font-size: 2.4em;
}
main p {
    font-size: 1.4em;
    text-indent: 28px;
    text-align: justify;
    letter-spacing: 0.5px;;
}
.about-me {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    /* From https://css.glass */
    background: rgba(75, 110, 246, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(75, 110, 246, 1);
    padding: 0 30px;
}