body {
    cursor: url("../img/icons8-select-cursor-24.png") 0 0, auto;
    margin: 0;
    background: hsl(216, 16%, 6%);
    color: #E3E6E8;
    justify-content: center;
    align-items: center;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 89vh;
    /* min-width: 90vw; */
    gap: 10px;
    box-sizing: border-box;
    padding: 20px;
}
.hr-line {
    border: none;
    height: 1px;
    background-color: hsl(210deg 8% 50%);
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.child {
    /* display: grid; */
    border: 2px solid hsl(210deg 8% 50%);
    border-radius: 4px;
    padding: 15px;
}
.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;

    & button {
        background: none;
        border: 1px solid hsl(210deg 8% 50%);
        color: #E3E6E8;
        padding: 8px 12px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease, letter-spacing 0.3s ease;
    }
    & button:hover {
        background-color: hsl(210deg 8% 30%);
        letter-spacing: 5px;
    }
}
.desc-content {
    text-indent: 50px;
    line-height: 1.6;
    font-size: 1.3em;
    margin-top: 15px;
    margin-bottom: 15px;
}
.desc-content p {
    margin-bottom: -15px;
}
.social-media {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 999px;
    border: 1px solid hsl(210deg 8% 50%);
    z-index: 999;
}
.social-media img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-media img:hover {
    transform: scale(1.2);
}